<!-- ko if: isVisible()  -->
<div class="social-login">
    <a data-bind="visible: isProviderEnabled('google'), attr: { href: getProviderUrl('google') }" href="#"><span class="social-login-google" data-bind="i18n: 'Login with Google'"></span></a>
    <a data-bind="visible: isProviderEnabled('facebook'), attr: { href: getProviderUrl('facebook') }"><span class="social-login-facebook" data-bind="i18n: 'Login with Facebook'"></span></a>
    <a data-bind="visible: isProviderEnabled('twitter'), attr: { href: getProviderUrl('twitter') }" href="#"><span class="social-login-twitter" data-bind="i18n: 'Login with Twitter'"></span></a>
</div>
<!-- /ko -->
